<div class="container product-detail-container" *ngIf="product; else loading">
  <div class="row">
    <div class="col-md-6">
      <app-product-card [product]="product"></app-product-card>
    </div>
    <div class="col-md-6">
      <p><strong>Description:</strong> {{ product.p_description }}</p>
      <div class="d-flex flex-column align-items-start">
        <button class="btn btn-primary" (click)="isLoggedIn() ? addToCart(product) : showLoginAlert()">Add to Cart</button>
        <button class="btn go-back-btn" (click)="goBack()">Back to Catalog</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <p>Loading the product details...</p>
  </div>
</ng-template>
